<form method="get" action="/quizes">
  <label for="search">Buscar preguntas:</label>
	<input type="text" name="search" id="search" value="<%= search %>" placeholder="Texto a buscar" />
  <select id="tema_search" name="tema_search">
    <option value="">Todos</option>
    <% for (var i = 0; i < temas.length; i++) { %>
      <option value="<%= temas[i] %>" <%= tema_search === temas[i]?'selected=selected':'' %>> <%= temas[i] %></option>
    <% } %>
  </select>
	<input type="submit" value="Buscar" />
</form>

<table id="questions_table">
  <% var i; for (i=0; i < quizes.length; i++) { %>
    <tr>
      <td>- <span><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a><s/span></td>
      <td  id="tema_column">(<%= quizes[i].tema %>)</td>
      <%if(session.user){%>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
        <td>
          <form id="delete_form" method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>')">Borrar</button>
          </form>
        </td>
      <%}%>
    </tr>
  <% } %>
</table>

<%if(session.user){%>
  <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
<%}%>

<% if(search || tema_search) { %>
 <a href="/quizes" id="all_questions">Mostrar todas las preguntas</a>
<% }; %>
