<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <label for="respuesta"><%= quiz.pregunta %></label>
  <input type="text" name="respuesta" id="respuesta" value="" placeholder="Respuesta" />
  <input type="submit" value="Enviar">
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<div id="comments">
  <p><strong>Comentarios:</strong></p>
  <table id="comments_table">
    <%for(index in quiz.Comments) {%>
      <tr>
        <%if(quiz.Comments[index].publicado || session.user) {%>
          <td>
            - <span><%=quiz.Comments[index].texto%></span>
          </td>
          <%if(session.user && !quiz.Comments[index].publicado) {%>
            <td>
  				    <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">
                <button>Publicar</button>
              </a>
            </td>
  			  <%}%>
        <%}%>
      </tr>
    <%}%>
  </table>
</div>
